{% extends 'base.html.twig' %}

{% block title %}Hello AppController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{% for user in users %}
			<div>
				<h2><a href="{{ path('profil', { 'id': user.id }) }}"> {{ user.firstname }} {{user.lastname}} {{user.pseudo}} </a></h2>
				<h3>Motos</h2>
				<ul>
					{% for bike in user.bikes %}
						<p>
							<b>{{bike.name}}</b>
							{{bike.power}}
							cc
						</p>
					{% endfor %}
				</ul>	
			</div>
            <hr>
		{% endfor %}
	</div>
{% endblock %}
