{% extends 'base.html.twig' %}

{% block title %}Hello AppController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
        <div>
            <h2>{{ user.firstname }} {{user.lastname}} {{user.pseudo}}</h2>
            <h3>Motos</h2>
            <ul>
                {% for bike in user.bikes %}
                    <p>
                        <b>{{bike.name}}</b>
                        {{bike.power}}
                        cc
                    </p>
                {% endfor %}
            </ul>
            <h3>Sortie</h3>
            <ul>
                {% for trip in user.trips %}
                    <h3> {{trip.title}} </h3>
                    <p> {{trip.description}} </p>
                    <p> {{trip.type}} </p>
                    <p> Départ : {{trip.startdate|date("d/m/y")}} </p>
                    <p> Retour : {{trip.endDate|date("d/m/y")}} </p>
                    <h4>Etapes</h4>
                        <ul>
                            {% for tripStep in trip.tripSteps %}
                                <li>
                                    {{tripStep.city}} <span>{{tripStep.additionaladress}} </span>
                                </li>
                            {% endfor %}
                        </ul>   
                        <h4>Rider</h4>
                            <ul>
                                {% for rider in trip.rider %}
                                <li>{{rider.pseudo}}</li>
                                {% endfor %}
                            </ul>
                        <h4>Commentaire</h4>
                            {% for post in trip.posts %}
                                <p> {{post.content}} </p>
                            {% endfor %}
                {% endfor %}
                    {# <ul>
                {% for item in trip %}
                    <li></li>
                {% endfor %}
                    </ul> #}
            </ul>
        
        </div>
	</div>
{% endblock %}
